<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

<!-- bean声明一个类已经注释了 -->
<bean id="dboperate" class="com.ssm.spring.ioc.DBOperate"></bean>
<bean id="run" class="com.ssm.spring.test.TestDb">
	<property name="dataOperate" ref="dboperate"></property>
</bean>

<!-- IOC注入基本数据类型  注入引用类型使用ref属性
 -->
<bean id="test" class="com.ssm.spring.ioc.VarData" init-method="init">
	<property name="string_var" value="testtest"></property>
	<property name="int_var" value="23"></property>
	<property name="short_var" value="22"></property>
	<property name="char_var" value="难"></property>
	<property name="long_var" value="999"></property>
	<property name="double_var" value="999.99"></property>
	<property name="boolean_var" value="false"></property>
</bean>
<bean id="runtest" class="com.ssm.spring.test.TestVar">
	<property name="varData" ref="test"></property>
</bean>

<!-- 注入Properties类型 -->
<bean id="proper_ref" class="com.ssm.spring.ioc.Proper">
	<property name="properties">
		<props>
			<prop key="1">11</prop>
			<prop key="2">22</prop>
			<prop key="3">33</prop>
		</props>
	</property>
</bean>
<bean id="protest" class="com.ssm.spring.test.TestPro">
	<property name="proper" ref="proper_ref"></property>
</bean>

</beans>